@import "./style.scss";

$greedExp: #0C928B;

.exp{
    width: 100%;
    max-width: 900px;
    margin: 50px auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $bg;

    @media screen and (max-width: 768px){
        grid-template-columns: 1fr;
    }
}

.pathContainer{
    width: 100%;
    max-width: 450px;
    display: flex;
    align-items: center;
    margin-top: 2px;
    transform: translateX(29px);

    @media screen and (max-width: 768px){
        max-width: unset;
        transform: unset;
    }

    .c-logo{
        width: 80px;
        height: 80px;
        background-color: transparent;
        border: 1px solid $greedExp;
        border-radius: 50%;
        margin-right: 20px;
        background-size: contain;

        @media screen and (max-width: 768px){
            width: 15vw;
            height: 15vw;
            max-width: 80px;
            max-height: 80px;
            margin-right: 10px;
        }
    }

    .path{
        background-color: $greedExp;
        width: calc(100% - 100px - 60px);
        height: 2px;
        position: relative;

        &::before{
            content: '';
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            left: 0;
            background-color: $greedExp;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &::after{
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            background-color: transparent;
            border-top-left-radius: 30px;
            border: 2px solid $greedExp;
            border-right: 0;
            border-bottom: 0;
            right: 0;
            bottom: 0;
            transform: translateX(100%);
        }

        .headerPath, .contextPath{
            position: absolute;
            left: 0;
        }

        .headerPath{
            bottom: 0;
            margin-bottom: 10px;
            font-weight: 600;

            p{
                font-size: 14px;
                color: #656565;
            }
        }

        .contextPath{
            left: 20px;
            margin-top: 10px;
            font-size: 14px;

            li{
                line-height: 24px;
                font-weight: 500;
            }
        }

        .extender{
            position: absolute;
            width: 2px;
            min-height: 20px;
            background-color: $greedExp;
            right: 0;
            bottom: 0;
            transform: translate(32px, -32px);

            &::after{
                content: '';
                position: absolute;
                width: 30px;
                height: 30px;
                background-color: transparent;
                border-top-left-radius: 30px;
                border: 2px solid $greedExp;
                border-right: 0;
                border-bottom: 0;
                right: 0;
                top: 0;
                transform: rotateX(180deg) translateY(32px);
            }

            &::before{
                content: '';
                position: absolute;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: $greedExp;
                transform: translate(-32px, -34px);
            }

            &.close{
                &::after{
                    display: none;
                }

                &::before{
                    transform: translate(-2px, -2px);
                }
            }
        }

        .cover{
            position: absolute;
            right: 0;
            bottom: 50%;
            width: 60px;
            height: 60px;
            transform: translate(100%, 100%);

            .dateShower{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 1px solid $greedExp;
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                left: 50%;
                right: 50%;
                transform: translate(-47%, -50%);

                .start, .end{
                    position: relative;
                    z-index: 1;
                    font-size: 10px;
                    color: white;
                }

                .start{
                    transform: translateY(-3px);
                }

                &::before{
                    content: "";
                    position: absolute;
                    width: 90%;
                    height: 90%;
                    background-color: #D15129;
                    border-radius: 50%;
                }

                &::after{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background-color: $bg;
                }
            }
        }

        @media screen and (max-width: 768px){
            width: calc(100% - (15vw + 10px) - 50px);

            .extender{

                &::after{
                    display: none;
                }

                &::before{
                    transform: translate(-2px, -4px);
                }
            }

            .headerPath{
                margin-bottom: 5px;
                
                .title{
                    font-size: 14px;
                }
    
                p{
                    font-size: 12px;
                }
            }
    
            .contextPath{
                font-size: 12px;
    
                li{
                    line-height: 20px;
                }
            }
        }
    }

    &.flip{
        transform: rotateY(180deg) translateX(29px);


        .c-logo{
            transform: rotateY(-180deg);
        }

        .headerPath, .contextPath{
            transform: rotateY(-180deg);
            right: 0;
        }

        .contextPath{
            right: 20px;
        }

        .path{
            .cover{
                .dateShower{
                    transform: rotateY(-180deg) translate(47%, -50%);
                }
            }
        }

        @media screen and (max-width: 768px){
            transform: unset;

            .c-logo{
                transform: unset;
            }

            .headerPath, .contextPath{
                transform: unset;
            }
    
            .contextPath{
                right: unset;
            }
    
            .path{
                .cover{
                    .dateShower{
                        transform: translate(-47%, -50%);
                    }
                }
            }
        }
    }
}