@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import "./mixins.scss";


$poiretFont: 'Poiret One', cursive;
$sansFont: 'Open Sans', sans-serif;

$greenColor: #024441;
$lightHomeBg: #DBEEED;
$bg: #FFF8ED;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $sansFont;
}

.container {
    min-height: 100vh;
    width: 100%;
    padding: 0 30px;
}

@media screen and (max-width:768px) {
    .mobile {
        display: none !important;
    }
}

@media screen and (min-width: 769px) {
    .desktop {
        display: none !important;
    }
}

.mainMobileMenu {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    padding: 30px;

    .head-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 600px;
        margin: 0 auto;
    }

    .menu {
        flex-direction: column;
        margin: auto 0;
        height: 100%;
        max-height: 600px;
        padding: 50px 0;
        align-items: center;
        justify-content: space-between;


        .menu-item {
            margin-right: 0;
            font-size: 18px;
        }
    }
}

.demarcation {
    max-width: 1200px;
    margin: auto;
    position: relative;
    z-index: 1;

    @media screen and (max-width:768px) {
        max-width: 600px;
    }
}

.home-bg {
    background-color: #ECFFFE;
    min-height: 100vh;

    .mainMobileMenu {
        background-color: #ECFFFE;
    }
}

.about-bg {
    background-color: $greenColor;

    .mainMobileMenu {
        background-color: $greenColor;
    }

    .bodyContent {
        display: block;
        margin-top: 50px;

        .title {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 20px;
            color: rgba(white, 63%);
            @include stroke-left;
        }

        .context {
            padding: 20px 30px;
            background-color: rgba(black, 25%);
            margin-top: 20px;

            p {
                color: white;
                padding-bottom: 10px;
                line-height: 25px;
                font-size: 17px;
                font-weight: 400;
            }
        }
    }

    @media screen and (max-width:768px) {
        .bodyContent .title {
            text-align: center;
        }
    }
}

.exp-bg {
    background-color: $bg;
    padding-bottom: 25px;

    .mainMobileMenu {
        background-color: $bg;
    }
}

.project-bg {
    background-color: #f6f6f6;
    overflow-y: auto;
    padding-bottom: 50px;

    .mainMobileMenu {
        background-color: #f6f6f6;
    }

    .bodyContent {
        .title {
            color: #717171;
        }
    }
}

.blog-bg {
    background-color: #fef5f8;

    .mainMobileMenu {
        background-color: #fef5f8;
    }
}

.expTitle {
    text-align: center;
    margin-top: 50px;
    font-weight: 500;
    color: rgba(black, 70%);
}

.bgSpline {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;

    &.aboutSpline {
        path {
            stroke: rgba(white, 0.04);
        }
    }
}

.menu-item {
    margin-right: 40px;
    font-size: 14px;
    font-weight: 500;

    a {
        text-decoration: none;
        color: #424242;
    }

    &.active {
        a {
            color: black;
        }

        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 1px;
            height: 30px;
            background-color: black;
            left: 50%;
            transform: translateY(30px);
        }
    }
}

.logo {
    font-family: $poiretFont;
    font-size: 24px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    letter-spacing: 3px;

    @media screen and (max-width: 500px) {
        font-size: 18px;
        -webkit-text-stroke-width: 1.5px;
    }
}

.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    .menu {
        display: flex;
        align-items: center;

        .menu-item:last-child {
            margin-right: 0;
        }
    }

    &.dark {
        .logo {
            color: white;
            -webkit-text-stroke-color: white;
        }

        .menu-item {
            a {
                color: #A0A0A0;
            }

            &.active {
                a {
                    color: white;
                }

                &::before {

                    background-color: white;

                }
            }
        }
    }
}

.bodyContent {
    display: flex;

    @media screen and (max-width:768px) {
        flex-direction: column-reverse;
        padding-bottom: 20px;
    }

    .infoArea {
        flex: 5;
        padding-top: 18vh;

        h4 {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 20px;
            @include stroke-left;
        }

        h1 {
            font-size: 36px;
            font-family: $poiretFont;
            -webkit-text-stroke: 1px;
            -webkit-text-stroke-color: black;
            letter-spacing: 4px;
            max-width: 500px;
            margin-bottom: 30px;
            line-height: 50px;
        }

        p {
            color: #464646;
            max-width: 650px;
            letter-spacing: 1px;
            line-height: 30px;
            margin-bottom: 90px;
        }

        @media screen and (max-width:1024px) {
            padding-top: 15vw;

            h1 {
                font-size: 28px;
                line-height: 40px;
            }

            p {
                max-width: 50vw;
            }
        }

        @media screen and (max-width:768px) {
            padding-top: 0;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;


            h1 {
                -webkit-text-stroke: 2px;
            }

            p {
                max-width: 550px;
                margin-bottom: 50px;
            }

            button {
                width: 100%;
                max-width: 550px;
            }
        }

        @media screen and (max-width:500px) {
            h1 {
                font-size: 20px;
                line-height: 30px;
            }

            p {
                font-size: 14px;
            }
        }
    }

    .visualArea {
        flex: 3;
        transform: translateY(-80px);

        .cover {
            border-bottom-left-radius: 68px;
            border-bottom-right-radius: 68px;
            overflow: hidden;
            background-color: $lightHomeBg;

        }

        .homeImage {
            width: 100%;
            margin-top: 30vh;
            height: 420px;
            transform: translateY(10px);
        }

        .social-container {
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .info {
                font-size: 14px;
                font-weight: 500;
                @include stroke-left;
            }

            .social-links {
                display: flex;
                align-items: center;

                .link-item {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: $lightHomeBg;
                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }

        @media screen and (max-width:1024px) {
            .homeImage {
                margin-top: 40vw;
                height: 40vw;
            }
        }

        @media screen and (max-width:768px) {
            .homeImage {
                height: 80vw;
                margin-top: 25vw;
            }

            .social-container {
                position: absolute;
                top: 20vw;
                right: 0;

                .social-links {
                    flex-direction: column;

                    .link-item {
                        width: 10vw;
                        height: 10vw;
                        margin-right: 0 !important;
                        margin-bottom: 15px;
                        background-color: darken($lightHomeBg, 5%) !important;

                        img {
                            width: 5vw;
                            height: 5vw;
                        }
                    }
                }
            }
        }
    }
}


.d_button {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    font-size: 14px;
    font-weight: 500;
    background-color: $greenColor;
    color: white;
    border: none;
    border-radius: 2px;
    max-width: 180px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
        background-color: darken($greenColor, 10%);
        /* Oscurece el color de fondo al pasar el cursor por encima */
        transform: scale(1.05);
        /* Hace el botón ligeramente más grande */
    }

    &:active {
        transform: scale(0.95);
    }

    .d_icon {
        font-size: 20px;
        margin-left: 10px;
    }
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    margin-top: 30px;
    margin-bottom: 60px;

    @media screen and (max-width:768px) {
        grid-template-columns: 1fr;
        margin-top: 20px;
        grid-gap: 1em;
    }
}

.project-card {
    background-size: cover;
    width: 100%;
    background-color: gray;
    height: 550px;
    background-position: center;
    border-radius: 25px;
    overflow: hidden;
    position: relative;

    .main-content {
        padding: 30px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .topContent {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: white;

            h3 {
                font-size: 16px;
                font-weight: 600;
            }

            p {
                font-size: 14px;
                color: darken(white, 10%);
                margin-top: 5px;
            }

            .link {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                background-color: white;
            }
        }

        .bottomContent {
            .gear {
                cursor: pointer;
            }
        }
    }

    .tools {
        position: absolute;
        width: 60%;
        height: 70%;
        overflow-y: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(black, 90%);
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
        padding: 20px;
        color: white;
        border-radius: 15px;

        ul {
            margin-top: 10px;
            margin-left: 15px;

            li {
                margin-bottom: 10px;
            }
        }
    }

    @media screen and (max-width:1024px) {
        height: 45vw;

        .main-content {
            padding: 2vw;

            svg {
                width: 20px;
            }

            .topContent {
                p {
                    margin-top: 0;
                }

                .link {
                    width: 4vw;
                    height: 4vw;

                    svg {
                        width: 10px;
                    }
                }
            }
        }
    }

    @media screen and (max-width:768px) {
        height: 80vw;
        border-radius: 15px;

        .main-content {
            .topContent {
                align-items: flex-start;

                .link {
                    width: 8vw;
                    height: 8vw;
                }
            }
        }
    }
}

.blog-card {
    background-size: cover;
    width: 100%;
    background-color: gray;
    height: 320px;
    background-position: center;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);

    .description {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 40px 20px;
        background: linear-gradient(transparent, rgba(black, 0.8), black);

        a {
            color: white;
            font-size: 16px;
            font-weight: 600;
        }
    }

    @media screen and (max-width:1024px) {
        height: 30vw;

        .description {
            padding: 20px;

            a {
                font-size: 14px;
            }
        }
    }

    @media screen and (max-width:768px) {
        height: 50vw;
    }
}

.mailto-btn {
    margin-top: 20px;
    align-items: center;
    appearance: none;
    background-color: $bg;
    background-image: linear-gradient(1deg, #8587ad, #6a8fa8 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 25px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: CircularStd, sans-serif;
    font-size: 1.25rem;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 10px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s, background-position 0.2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;

    &.active,
    .focus {
        outline: none;
    }

    a {
        color: white;
        /* White text */
        text-decoration: none;
        /* No underline */
    }

    .mail-icon {
        height: 25px;
        width: 25px;

        margin-left: 10px;
    }

}


.centered {
    align-items: center;
    justify-content: center;
    display: flex;

    padding-bottom: 30px;


}

.mailto-btn:hover {
    background-position: -20px -20px;
}

.mailto-btn:focus:not(:active) {
    box-shadow: rgba(24, 106, 160, 0.25) 0 0 0 0.125em;
}

.skill-container {

    margin-top: 20px;
    padding-bottom: 20px;
    color: #537a94;

    h2 {
        color: #fff;
        font-size: 700;
    }

}